<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMtach. Our company focuses on creating an exclusive community
    developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, omnis, adipisci, corrupti ex doloribus eum saepe impedit blanditiis necessitatibus minus numquam tenetur voluptatum nisi perferendis cupiditate minima nihil expedita. At.</p>
</div>